h1 {
    font-family: 'Great Vibes', cursive;
    color: rgb(204, 154, 26);
    font-size: 55px;
    text-align: center;
    font-weight: 800;
}

body {
    background-color: white;
}

form {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 20px;

}

#example1 {
    border: 2px solid black;
    padding: 25px;
    background: url(mountain.jpg);
    background-repeat: no-repeat;
    background-size: auto;
  }

#header-image {
    border: 6px solid goldenrod;
    border-radius: 10px;
    height: 150px;
    width: 99%;
    background: url("../images/header-image.png") no-repeat fixed center;
    background-size: cover;
}

.music-theory-images {
    margin-left: 30pt;
}